<%page expression_filter="h"/>
<%!
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import js_escaped_string
%>
<%namespace name='static' file='static_content.html'/>

<% ga_acct = configuration_helpers.get_value('GOOGLE_ANALYTICS_ACCOUNT', settings.GOOGLE_ANALYTICS_ACCOUNT) %>
% if ga_acct:
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '${ga_acct | n, js_escaped_string}']);
    _gaq.push(['_gat._anonymizeIp']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
% endif
